{
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "arrow-body-style": ["error", "as-needed"]
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  }
}
