html {
  width: 1000px;
  height: 600px;
  font-weight: bold;
  font-size: 4rem;
  font-family: Open Sans, sans-serif;
}
body {
  padding: 40px;
}
span {
  float: right;
}
.player-kd-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
