html {
  display: flex;
  justify-content: center;
  font-family: Roboto, Kharkiv Tone, sans-serif;
  padding: 30px;
  width: 2650px;
}

body .player-container:first-child {
  border-top: 4rem solid var(--main-bg-color);
}

body .player-container:last-child {
  border-bottom: 10rem solid var(--main-bg-color);
}

body .player-container {
  width: 2350px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
  min-height: 230px;
}

.no-info {
  color: var(--white);
  font-size: 5rem;
  margin: 0;
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 100%;
  border-radius: 3rem;
  --border-color: var(--white);
  --box-shadow-color: var(--white-opacity);
  box-sizing: border-box;
  border: 0.4rem solid var(--border-color);
  box-shadow: 0 0.25rem 3.75rem 0 var(--box-shadow-color);
  background: var(--main);
  padding: 0 2rem;
}

.faceit-lvl {
  z-index: 4;
  position: absolute;
  top: 9rem;
  left: 7.5rem;
  --box-shadow-color: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 5rem 0 var(--box-shadow-color);
  border-radius: 50%;
}

.faceit-lvl__image {
  width: 15rem;
  height: 15rem;
}

.faceit-lvl::before,
.faceit-lvl::after {
  font-size: 3.5rem;
  font-weight: bold;
  display: block;
  position: absolute;
  bottom: -3.5rem;
  transform: translate(-50%, -50%);
}

.faceit-lvl::before {
  content: attr(data-prev-elo-distance);
  color: red;
  left: -1.5rem;
}

.faceit-lvl::after {
  content: attr(data-next-elo-distance);
  color: #1de100;
  left: calc(100% + 1rem);
}

.player-container--win .faceit-lvl {
  --box-shadow-color: rgba(34, 139, 34, 0.5);
}

.player-container--lose .faceit-lvl {
  --box-shadow-color: rgba(139, 0, 0, 0.5);
}

.player-container__main-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-container__nickname {
  font-family: var(--main-font);
  display: inline;
  position: relative;
  width: max-content;
  padding: 2rem 6rem 1rem;
  border: 0.1rem solid #4f4f4f;
  border-bottom: 0;
  border-radius: 2.5rem 2.5rem 0 0;
  color: var(--white);
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 6.5rem;
}

.player-container--win .player-container__nickname,
.player-container--lose .player-container__nickname {
  border: none;
}

.player-container--win .player-container__nickname {
  background-color: var(--win-color);
}

.player-container--lose .player-container__nickname {
  background-color: var(--lose-color);
}

.stats-wrapper__image {
  width: 12.2rem;
  height: 100%;
}

.stats-wrapper__last-stats {
  margin-top: -0.4rem;
}

.stats-wrapper__main-stats,
.stats-wrapper__last-stats {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10rem;
  width: 100%;
  border-radius: 3rem;
  --border-color: var(--white);
  --box-shadow-color: var(--white-opacity);
  box-sizing: border-box;
  border: 0.4rem solid var(--border-color);
  box-shadow: 0 0.25rem 3.75rem 0 var(--box-shadow-color);
  background: var(--main);
}

.stats-wrapper__last-stats {
  margin-top: -0.4rem;
}

.player-container--win .stats-wrapper__main-stats,
.player-container--win .stats-wrapper__last-stats,
.player-container--lose .stats-wrapper__main-stats,
.player-container--lose .stats-wrapper__last-stats {
  --box-shadow-width: 0.4rem;
  border-width: 0.6rem;
}

.player-container--win .stats-wrapper__main-stats,
.player-container--win .stats-wrapper__last-stats {
  --box-shadow-color: var(--win-color);
  --border-color: var(--win-color);
}

.player-container--lose .stats-wrapper__main-stats,
.player-container--lose .stats-wrapper__last-stats {
  --box-shadow-color: var(--lose-color);
  --border-color: var(--lose-color);
}

.stats-wrapper__title {
  min-width: 22rem;
  background: var(--light-main-bg-color);
  border-radius: 0.625rem;
  display: flex;
  font-size: 4rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 7.7rem;
}

.stats-wrapper__stats {
  margin-right: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats-attribute-wrapper,
.stats-value-wrapper {
  font-weight: 900;
  display: flex;
}

.stats-attribute-wrapper {
  height: 30%;
  display: flex;
  justify-content: space-around;
}

.stats-value-wrapper {
  height: 70%;
}

.stats-attribute__item,
.stats-value__item {
  z-index: 3;
}

.stats-value__item {
  width: 23rem;
}

.elo-difference::after {
  position: absolute;
  content: attr(data-elo-difference);
  font-size: 4rem;
  font-weight: bold;
  right: -20rem;
}

.elo-difference--win::after {
  color: #1de100;
}

.elo-difference--lose::after {
  color: red;
}

.stats-attribute__item {
  display: flex;
  height: 2rem;
  padding: 0.25rem 3.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0 0 0.625rem 0.625rem;
  background: var(--dark-blue, #21345a);
  margin: 0 1.5rem;
}

.stats-value-wrapper {
  border-radius: 0.625rem;
  background: #2e3541;
  padding-right: 1.5rem;
}

.stats-value__item {
  position: relative;
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 8rem;
  font-weight: bolder;
  margin: 0 1.5rem;
  line-height: 0;
  margin-top: 0.6rem;
}

.percent::after {
  position: absolute;
  content: '%';
  right: -1.5rem;
  font-size: 3rem;
  margin-left: 5px;
  font-weight: bold;
  color: var(--white);
}
