<html lang="en">
  <head>
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/elo.css" />
  </head>
  <body>
    <div class="player-elo">
      <div class="player-elo__main">
        <div class="player-elo__player">
          <span>DiFFii:</span>
          <span class="tenth">2396</span>
        </div>

        <div class="player-elo__player">
          <span>Zyw007:</span>
          <span class="tenth">2298</span>
        </div>

        <div class="player-elo__player">
          <span>stolbn:</span>
          <span class="ninth">1904</span>
        </div>

        <div class="player-elo__player">
          <span>Grenat:</span>
          <span class="ninth">1856</span>
        </div>

        <div class="player-elo__player">
          <span>L-Jenkins:</span>
          <span class="eighth">1737</span>
        </div>
      </div>
      <div class="player-elo__summary">
        Team's average:&nbsp;<span class="undefined">2038&nbsp;ELO</span>
      </div>
    </div>
  </body>
</html>
