<html lang="en">
  <head>
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/colors.css" />
    <link rel="stylesheet" href="../../css/kd.css" />
  </head>
  <body>
    <div class="player-kd">
      <div class="player-kd__title">
        <img src="../../images/general/arrows.svg" alt="arrows" />
        <span>Останні 20 матчів</span>
      </div>
      <div class="player-kd__main">
        <div class="player-kd__player">
          <span>Zyw007:</span>
          <span class="aqua">
            1.38
            <span class="white">&nbsp;K/D</span>
          </span>
        </div>
        <div class="player-kd__player">
          <span>DiFFii:</span>
          <span class="green">
            1.20
            <span class="white">&nbsp;K/D</span>
          </span>
        </div>
        <div class="player-kd__player">
          <span>L-Jenkins:</span>
          <span class="green">
            1.11
            <span class="white">&nbsp;K/D</span>
          </span>
        </div>
        <div class="player-kd__player">
          <span>stolbn:</span>
          <span class="yellow">
            1.06
            <span class="white">&nbsp;K/D</span>
          </span>
        </div>
        <div class="player-kd__player">
          <span>Grenat:</span>
          <span class="yellow">
            1.03
            <span class="white">&nbsp;K/D</span>
          </span>
        </div>
      </div>
      <div class="player-kd__summary">
        Середнє:&nbsp;<span class="green">1.16</span>&nbsp;K/D
      </div>
    </div>
  </body>
</html>
